WarehouseService_3/web/WEB-INF/wsdl/localhost_8080/ManufacturerService/Manufacturer2Service.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.1-hudson-28-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.1-hudson-28-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://manufacturer.supplychain.soen487.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://manufacturer.supplychain.soen487.org/" name="Manufacturer2Service">
<types>
<xsd:schema>
<xsd:import namespace="http://manufacturer.supplychain.soen487.org/" schemaLocation="http://localhost:8080/ManufacturerService/Manufacturer2Service?xsd=1" />
</xsd:schema>
</types>
<message name="getProductInfo">
<part name="parameters" element="tns:getProductInfo" />
</message>
<message name="getProductInfoResponse">
<part name="parameters" element="tns:getProductInfoResponse" />
</message>
<message name="getProductQuantity">
<part name="parameters" element="tns:getProductQuantity" />
</message>
<message name="getProductQuantityResponse">
<part name="parameters" element="tns:getProductQuantityResponse" />
</message>
<message name="receivePayment">
<part name="parameters" element="tns:receivePayment" />
</message>
<message name="receivePaymentResponse">
<part name="parameters" element="tns:receivePaymentResponse" />
</message>
<message name="processPurchaseOrder">
<part name="parameters" element="tns:processPurchaseOrder" />
</message>
<message name="processPurchaseOrderResponse">
<part name="parameters" element="tns:processPurchaseOrderResponse" />
</message>
<portType name="Manufacturer2">
<operation name="getProductInfo">
<input wsam:Action="http://manufacturer.supplychain.soen487.org/Manufacturer2/getProductInfoRequest" message="tns:getProductInfo" />
<output wsam:Action="http://manufacturer.supplychain.soen487.org/Manufacturer2/getProductInfoResponse" message="tns:getProductInfoResponse" />
</operation>
<operation name="getProductQuantity">
<input wsam:Action="http://manufacturer.supplychain.soen487.org/Manufacturer2/getProductQuantityRequest" message="tns:getProductQuantity" />
<output wsam:Action="http://manufacturer.supplychain.soen487.org/Manufacturer2/getProductQuantityResponse" message="tns:getProductQuantityResponse" />
</operation>
<operation name="receivePayment">
<input wsam:Action="http://manufacturer.supplychain.soen487.org/Manufacturer2/receivePaymentRequest" message="tns:receivePayment" />
<output wsam:Action="http://manufacturer.supplychain.soen487.org/Manufacturer2/receivePaymentResponse" message="tns:receivePaymentResponse" />
</operation>
<operation name="processPurchaseOrder">
<input wsam:Action="http://manufacturer.supplychain.soen487.org/Manufacturer2/processPurchaseOrderRequest" message="tns:processPurchaseOrder" />
<output wsam:Action="http://manufacturer.supplychain.soen487.org/Manufacturer2/processPurchaseOrderResponse" message="tns:processPurchaseOrderResponse" />
</operation>
</portType>
<binding name="Manufacturer2PortBinding" type="tns:Manufacturer2">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="getProductInfo">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getProductQuantity">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="receivePayment">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="processPurchaseOrder">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="Manufacturer2Service">
<port name="Manufacturer2Port" binding="tns:Manufacturer2PortBinding">
<soap:address location="http://localhost:8080/ManufacturerService/Manufacturer2Service" />
</port>
</service>
</definitions>